html,
body {
	margin:0;
	padding:0;
	height:100%;
}

header {
	color: white;
	background-color: #1f8dd6;
}

.nav a{
  color: white;
}

#wrapper {
}

#content {
}

footer {
	color: white;
	background-color: rgb(45,62,80);
	width:100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer p{
	opacity: 0.5;
}